@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: 'Manrope', sans-serif;
}

.main-container {
  height: 300px;
  border: 1px crimson solid;
  display: flex;
}

.main-container-left {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
  /* position: relative; */
}

.img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.main-container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
}

.right-top {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px crimson solid;
}

.right-top h2 {
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}

.right-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px crimson solid;
}

.right-middle p {
  color: hsl(214, 17%, 51%);
  font-weight: 500;
}

.right-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px crimson solid;
}

.right-bottom-img-michelle {
  border-radius: 50%;
  height: 45px;
}

.share-btn {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  padding: 0;
  border: none;
  /* background: none; */
}

/* .share-btn-icon {
  border-radius: 50%;
  height: 15px;
  width: 15px;
} */
