* {
  box-sizing: border-box;
}

body {
  background-color: #eff8ff;
}

.main-container {
  height: 300px;
  border: 1px crimson solid;
  display: flex;
}

.main-container-left {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
}

.main-container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
}

.right-top {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px crimson solid;
}

.right-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px crimson solid;
}
.right-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px crimson solid;
}

.right-bottom-img {
  /* position: absolute; */
  border-radius: 50%;

  /* z-index: 2; */
  /* top: 80px;
  left: 120px; */
  height: 45px;
}
